
  @font-face {
    font-family: 'GT Davide';
    src: url('fonts/GTDaVinne.woff');
  }
  
  body {
    font-family: 'GT Davide';
    /*Base font size*/
    font-size: 6.2vw;
    color: white;
    /* background-color: green; */
    /* background: url(back.png)  no-repeat 0% 0% fixed; */
  
    background-size: contain;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
}
  
  h1, h2, h3 {
    background-color: red;
    padding: 0.3em;
    padding-bottom: 0.2em;
    font-weight: 400;
    position: absolute;
  
    margin: 0;
    /* opacity: 0.5; */
    letter-spacing: 0.005em;
    transform-origin: 0 0;
}
  
  h1 {
    font-size: 1em;
    text-transform: uppercase;
    top: 68%;
    left: 14%;
}
  
  h2 {
    font-size: 0.7em;
  }
  
  h3 {
    font-size: 1.9em;
  }
  
  .underlined {
    border-bottom: 0.1em solid white;
    line-height: 0.8;
    display: inline-block;
    margin-bottom: 0.05em;
  }
  
  #title {
    transform: rotate(-2deg);
    display: inline-block;
  }
  
  #subtitle {
    transform: rotate(-3deg);
    top: 84%;
    left: 30%;
    white-space: nowrap;
    width: 3000px;
  }

  #sloganPart1, #barSlogan1, #sloganPart2, #barSlogan2 {
    padding: 0.24em;
    padding-bottom: 0em;
  }

  #sloganPart1, #barSlogan1 {
    top: 1%;
    transform: rotate(4deg);
  }
  #sloganPart2, #barSlogan2 {
    top: 39%;
    transform: rotate(-4deg);
  }

  #sloganPart1, #sloganPart2 {
    background: none;
  
    white-space: nowrap;
    z-index: 2;
}

  #barSlogan1 {
    transform: rotate(4deg) translate(-20vw, 0);
  }

  #barSlogan2 {
    transform: rotate(-4deg) translate(-20vw, 0);
  }

  #barSlogan1, #barSlogan2 {
    width: 150vw;
    z-index: -1;
    background: red;
    /* left: -7%; */
  }
